@import url('fontsGoogle.css');

:root{
    --fundo: #2D2F33;
    --sidebar: #343537;
    --roxo: #ae00ff;
    --sobretomRoxo: #7700a6;
    --azul: #2e0dff;
    --azulCeleste: #45f3ff;
    --branco: #f6f6f6;
    --placeholder: #b1b2b5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bg-padrao{
    background-color: var(--fundo);
}

.bg-sidebar{
    background-color: var(--sidebar);
}

.bg-celeste{
    background-color: var(--azulCeleste);
}

.card-borders{
    background: linear-gradient(#7700a6, #2e0dff);
}

.card-container{
    margin: auto;
}

.max-w-40{
    max-width: 10rem;
}
.active{
    border: 0.1rem solid #7700a6;
    padding: 5px;
    border-radius: 20px;
}

/* balões de sucesso e erro */
.balao {
    position: fixed;
    bottom: 20%;
    right: 30px;
    padding: 10px;
    border-radius: 5px;
    display: none;
    color: white;
    transition: opacity 0.5s ease-in-out;
    z-index: auto;
}

#balaoSucesso {
    background-color: rgb(116, 238, 116);
}

#balaoErro {
    background-color: red;
}

@keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-10px); }
    20% { transform: translateX(10px); }
    30% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    50% { transform: translateX(-10px); }
    60% { transform: translateX(10px); }
    70% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    90% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.balao.shake {
    animation: shake 0.5s;
}

.balao i {
    margin-right: 5px;
}

.balao.show{
    opacity: 1 !important;
    display: block !important;
}